* {
  box-sizing: border-box;
}

#application-root {
  width: 100%;
}

#app {
  width: 90%;
    margin: 20px auto;
}

#profile {
  display: flex;
}

.responsiveImg {
  max-width: 33vw;
  margin-right: 30px;
}

#contactInfo h1 {
  font-size: 2.75rem;
}

#contactInfo h3 {
  font-size: 2rem;
}

tagLine {
  font-weight: 200;
}

address {
  font-size: 1.25rem;
}

address strong {
  font-size: 1.5rem;
}

#education, #experience {
  margin: 40px 0;
}

#education, #experience h3{
  text-align: center;
}

#education h3, #experience h3 {
  font-size: 2rem;
}

.school, .major, .title, .dates {
  display: inline;
}

.school, .major {
  font-size: 1.25rem;
}

.company {
  font-size: 1.5rem;
}

.title, .dates, .duties strong {
  font-size: 1.15rem;
}